@charset "UTF-8";

* {
    
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #A64949, #73485C);
}
main {
    background-color: white;
    border-radius: 13px;
    box-shadow: 5px 5px 20px #563645;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #F28749;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
h2 {
    color: #5b2e72;
}
p {
    text-align: justify;
}
